<!doctype>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Tempy - handrolled brew temperature monitor</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='rickshaw.min.css') }}">
    <script src="{{ url_for('static', filename='vendor/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/d3.layout.min.js') }}"></script>
    <script src="{{ url_for('static', filename='rickshaw.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style type="text/css">
        .chart_container {
            position: relative;
        }
        #chart0 {
            position: relative;
            left: 40px;
        }
        #y_axis0 {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
        }
        #chart1 {
            position: relative;
            left: 40px;
        }
        #y_axis1 {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 40px;
        }
    </style>
</head>
<body style="padding-top: 70px">


<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tempy</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Last Hour</a></li>
                <li><a href="#">Today</a></li>
                <li><a href="#">Week</a></li>
                <li><a href="#">Month</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Current Temp: {{ temp }}c</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Tempy</h1>
        <p style="font-size: 1em;"><em>Handrolled brew temperature monior</em></p>
        <br>
        <h4>Currently brewing an Irish Stout</h4>
        <ul>
        <li>Brewdate: 06/04/2014</li>
        <li>OG: 1.062</li>
        </ul>
        <br>

        <h3>Hour</h3>

        <div class="chart_container">
            <div id="y_axis0"></div>
            <div id="chart0"></div>
        </div>
        <hr>

        <h3>Day</h3>

        <div class="chart_container">
            <div id="y_axis1"></div>
            <div id="chart1"></div>
        </div>
        <hr>

        <h3>Week</h3>

        <div id="chart2"></div>
        <hr>

        <h3>Month</h3>

        <div id="chart3"></div>
        <hr>

        <p style="font-size: 1em">&copy;Tim Garner - <a href="http://tim-garner.co.uk/">tim-garner.co.uk</a></p>
    </div>
</div>

<script>

    var data0 = {{ results_hour|tojson|safe }};
    var data1 = {{ results_twenty_four_hours|tojson|safe }};
    var data2 = {{ results_one_week|tojson|safe }};
    var data3 = {{ results_four_weeks|tojson|safe }};

    var graph0 = new Rickshaw.Graph({
        element: document.querySelector("#chart0"),
        width: 580,
        height: 250,
        max: 35,
        renderer: 'area',
        stroke: true,
        series: [
            {
                color: 'steelblue',
                data: data0,
                name: 'Hour Temperature'
            }
        ]
    });

    var xAxis0 = new Rickshaw.Graph.Axis.Time({ graph: graph0 });
    var yAxis0 = new Rickshaw.Graph.Axis.Y({
        graph: graph0,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        ticks: 8,
        element: document.getElementById('y_axis0')
    });
    var hoverDetail = new Rickshaw.Graph.HoverDetail({ graph: graph0 });


    graph0.render();

    var graph1 = new Rickshaw.Graph({
        element: document.querySelector("#chart1"),
        width: 580,
        height: 250,
        max: 35,
        renderer: 'area',
        stroke: true,
        series: [
            {
                color: 'steelblue',
                data: data1,
                name: 'Temperature'
            }
        ]
    });

    var xAxis1 = new Rickshaw.Graph.Axis.Time({ graph: graph1 });
    var yAxis1 = new Rickshaw.Graph.Axis.Y({
        graph: graph1,
        orientation: 'left',
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
        ticks: 8,
        element: document.getElementById('y_axis1')
    });
    var hoverDetail1 = new Rickshaw.Graph.HoverDetail({ graph: graph1 });

    graph1.render();

    var graph2 = new Rickshaw.Graph({
        element: document.querySelector("#chart2"),
        width: 580,
        height: 250,
        series: [
            {
                color: 'steelblue',
                data: data2,
                name: 'Temperature'
            }
        ]
    });

    var axes2 = new Rickshaw.Graph.Axis.Time({ graph: graph2 });
    var yAxis2 = new Rickshaw.Graph.Axis.Y({ graph: graph2 });
    var hoverDetail2 = new Rickshaw.Graph.HoverDetail({ graph: graph2 });

    graph2.render();

    var graph3 = new Rickshaw.Graph({
        element: document.querySelector("#chart3"),
        width: 580,
        height: 250,
        series: [
            {
                color: 'steelblue',
                data: data3,
                name: 'Temperature'
            }
        ]
    });

    var axes3 = new Rickshaw.Graph.Axis.Time({ graph: graph3 });
    var yAxis3 = new Rickshaw.Graph.Axis.Y({ graph: graph3 });
    var hoverDetail3 = new Rickshaw.Graph.HoverDetail({ graph: graph3 });

    graph3.render();
</script>
</body>
</html>
